{% extends 'base.html.twig' %}

{% block title %}Inscription - ToDo & Co{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1 class="text-center mt-5 mb-5">Inscription</h1>

        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        {% for flash_message in app.flashes('successRegister') %}
            <div class="alert alert-success" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}

        <div class="col-12 col-md-6 offset-md-3">
            <div class="text-center border shadow rounded-4 p-4 mb-5">
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    <div class="form-group mb-3">
                        {{ form_label(registrationForm.username, 'Nom d\'utilisateur', {'label_attr': {'class': 'form-label fs-3'}})}}
                        {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control w-75 text-center mx-auto'}})}}
                    </div>

                    <div class="form-group mb-3">
                        {{ form_label(registrationForm.email, 'Adresse email', {'label_attr': {'class': 'form-label fs-3'}})}}
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control w-75 text-center mx-auto'}})}}
                    </div>

                    <div class="form-group mb-3">
                        {{ form_label(registrationForm.plainPassword.first, 'Mot de passe', {'label_attr': {'class': 'form-label fs-3'}})}}
                        {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control w-75 text-center mx-auto'}})}}
                    </div>

                    <div class="form-group mb-4">
                        {{ form_label(registrationForm.plainPassword.second, 'Confirmer le mot de passe', {'label_attr': {'class': 'form-label fs-3'}})}}
                        {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control w-75 text-center mx-auto'}})}}
                    </div>

                    <div class="mb-4" style="display: none;">
                        {{ form_widget(registrationForm.agreeTerms, {'attr': {'checked': 'checked'}}) }}
                    </div>

                    <button type="submit" class="btn btn-lg btn-primary mb-3">Créer un compte</button>
                {{ form_end(registrationForm) }}

                <div>
                    <a href="{{ path('app_login') }}" class="text-white">Se connecter</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
